* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1234px;
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 1300px) {
  .container .container {
    padding: 0 15px;
  }
}

@font-face {
  font-family: 'Brown Light';
  src: url("../fonts/Brown-Light.eot");
  src: url("../fonts/Brown-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Light.woff") format("woff"), url("../fonts/Brown-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown Regular';
  src: url("../fonts/Brown-Regular.eot");
  src: url("../fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Regular.woff") format("woff"), url("../fonts/Brown-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown Bold';
  src: url("../fonts/Brown-Bold.eot");
  src: url("../fonts/Brown-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Bold.woff") format("woff"), url("../fonts/Brown-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Brown Light', sans-serif;
  background: #fff url("../img/body_header.png") top center no-repeat;
  background-size: cover;
}

.button {
  padding: 10px 25px 15px;
  border-radius: 3px;
  background-color: #845cff;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(132, 92, 255, 0.2);
          box-shadow: -6.691px 7.431px 20px 0px rgba(132, 92, 255, 0.2);
  cursor: pointer;
  color: #fff;
  border: none;
  font-family: 'Brown Bold', sans-serif;
}

.button_textsize_big {
  font-size: 19px;
}

.button_textsize_normal {
  font-size: 15px;
}

.link {
  text-decoration: none;
}

@media (max-width: 1200px) {
  body {
    background-position-y: 20px;
    background-size: contain;
  }
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  margin-right: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 440px;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-family: 'Brown Bold', sans-serif;
  font-size: 19px;
  color: #32325d;
}

@media (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 140px;
}

.hero-wrap {
  max-width: 470px;
}

.hero__title {
  font-size: 48px;
  font-family: 'Brown Bold', sans-serif;
  color: #32325d;
  margin-bottom: 50px;
}

.hero__description {
  font-family: 'Brown Light', sans-serif;
  font-size: 23px;
  color: #525f7f;
  margin-bottom: 50px;
}

.hero__button {
  text-transform: uppercase;
  margin-right: 30px;
}

.hero__link {
  font-size: 19px;
  color: #32325d;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__description {
    font-size: 19px;
  }
  .hero__link {
    display: block;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */