* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1234px;
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 1300px) {
  .container .container {
    padding: 0 15px;
  }
}

@font-face {
  font-family: 'Brown Light';
  src: url("../fonts/Brown-Light.eot");
  src: url("../fonts/Brown-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Light.woff") format("woff"), url("../fonts/Brown-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown Regular';
  src: url("../fonts/Brown-Regular.eot");
  src: url("../fonts/Brown-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Regular.woff") format("woff"), url("../fonts/Brown-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown Bold';
  src: url("../fonts/Brown-Bold.eot");
  src: url("../fonts/Brown-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown-Bold.woff") format("woff"), url("../fonts/Brown-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Brown Light', sans-serif;
  background: #fff url("../img/body_header.png") top center no-repeat;
  max-width: 1920px;
  margin: auto;
}

.button {
  padding: 10px 25px 10px;
  border-radius: 3px;
  background-color: #845cff;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(132, 92, 255, 0.2);
          box-shadow: -6.691px 7.431px 20px 0px rgba(132, 92, 255, 0.2);
  cursor: pointer;
  color: #fff;
  border: none;
  font-family: 'Brown Bold', sans-serif;
}

.button_textsize_big {
  font-size: 19px;
}

.button_textsize_normal {
  font-size: 15px;
}

.link {
  text-decoration: none;
}

.link_color_white {
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1200px) {
  body {
    background-size: contain;
  }
}

.footer {
  background-color: #212240;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  margin-right: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 440px;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-family: 'Brown Bold', sans-serif;
  font-size: 19px;
  color: #32325d;
}

@media (max-width: 1200px) {
  .navbar-wrap {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 140px;
}

.hero-wrap {
  max-width: 470px;
}

.hero__title {
  font-size: 48px;
  font-family: 'Brown Bold', sans-serif;
  color: #32325d;
  margin-bottom: 50px;
}

.hero__description {
  font-family: 'Brown Light', sans-serif;
  font-size: 23px;
  color: #525f7f;
  margin-bottom: 50px;
}

.hero__button {
  text-transform: uppercase;
  margin-right: 30px;
}

.hero__link {
  font-size: 19px;
  color: #32325d;
}

@media (max-width: 1200px) {
  .hero {
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .hero__title {
    font-size: 36px;
  }
  .hero__description {
    font-size: 19px;
  }
  .hero__link {
    display: block;
    margin-top: 20px;
  }
}

.feature {
  font-family: 'Brown Light', sans-serif;
}

.feature-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.feature-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 40px;
}

.feature-heading__title {
  font-size: 48px;
  color: #32325d;
  margin-bottom: 10px;
}

.feature-heading__description {
  font-size: 23px;
  color: #525f7f;
}

.feature-item, .feature-heading {
  max-width: 540px;
  height: 480px;
}

.feature-item {
  padding: 80px 70px 60px 55px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
          box-shadow: -6.691px 7.431px 20px 0px rgba(212, 212, 250, 0.2);
}

.feature-item__title {
  font-size: 30px;
  color: #32325d;
  margin-top: 50px;
}

.feature-item__description {
  font-size: 18px;
  color: #525f7f;
}

@media (max-width: 1200px) {
  .feature-item, .feature-heading {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
  }
  .feature-heading {
    padding: 20px;
  }
}

@media (max-width: 840px) {
  .feature-item, .feature-heading {
    max-width: 100%;
  }
  .feature-item {
    margin-top: 30px;
  }
  .feature-heading {
    height: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .feature-item {
    padding: 20px 35px 35px;
  }
  .feature-heading__title {
    font-size: 36px;
  }
  .feature-heading__description {
    font-size: 18px;
  }
}

.services {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/services_bg.png") bottom center no-repeat;
  padding-bottom: 90px;
}

.services-wrap {
  padding: 60px 0;
}

.services-heading {
  font-family: 'Brown Light', sans-serif;
}

.services-heading__title {
  font-size: 48px;
  color: #32325d;
}

.services-heading__description {
  font-size: 23px;
  color: #525f7f;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 0;
  padding: 0;
}

.services__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 270px;
          flex: 1 1 270px;
  padding: 30px;
  margin-top: 50px;
}

.services__title {
  font-size: 20px;
  font-family: 'Brown Regular', sans-serif;
  color: #32325d;
}

.services__description {
  font-size: 16px;
  font-family: 'Brown Light', sans-serif;
  color: #525f7f;
}

.wedo {
  background: url("../img/finances.png") bottom 500px right no-repeat;
}

.wedo-wrap {
  padding: 120px 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wedo-wrap-safety {
  width: 100%;
  background: url("../img/safety.png") top 70px right no-repeat;
}

.wedo-wrap-move {
  width: 100%;
  background: url("../img/move.png") top 240px left no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wedo-safety__title, .wedo-move__title, .wedo-finances__title {
  font-family: 'Brown Light', sans-serif;
  font-size: 48px;
  color: #32325d;
}

.wedo-safety__description, .wedo-move__description, .wedo-finances__description {
  font-size: 23px;
  font-family: 'Brown Light', sans-serif;
  color: #525f7f;
}

.wedo__link {
  font-size: 19px;
  color: #32325d;
  font-family: 'Brown Regular', sans-serif;
}

.wedo__button {
  text-transform: uppercase;
  margin-right: 30px;
}

.wedo-safety {
  max-width: 480px;
}

.wedo-options {
  list-style: none;
  margin: 50px 0 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wedo-options__item {
  max-width: 220px;
}

.wedo-options__title {
  font-size: 30px;
  font-family: 'Brown Light', sans-serif;
  color: #32325d;
  margin: 0;
}

.wedo-options__description {
  font-size: 16px;
  font-family: 'Brown Light', sans-serif;
  color: #525f7f;
}

.wedo-move {
  max-width: 560px;
  margin: 200px 0;
}

.wedo-finances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wedo-finances__heading {
  max-width: 660px;
}

.wedo-services {
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wedo-services-block {
  margin-top: 80px;
}

.wedo-services-block:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.wedo-services-block__title {
  font-size: 30px;
  font-family: 'Brown Regular', sans-serif;
  color: #32325d;
}

.wedo-services-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wedo-services-block__item {
  margin-top: 35px;
  padding-left: 30px;
  background: url("../img/check.png") 0 3px no-repeat;
}

.wedo-services-block__text {
  font-size: 20px;
  font-family: 'Brown Light', sans-serif;
  color: #32325d;
}

@media (max-width: 1200px) {
  .wedo {
    background: none;
  }
  .wedo-wrap-safety, .wedo-wrap-move {
    background-size: 40%;
    background-position-y: center;
  }
}

@media (max-width: 992px) {
  .wedo-wrap {
    padding: 40px 0;
  }
  .wedo-wrap-safety, .wedo-wrap-move {
    background: none;
  }
  .wedo-move {
    margin: 40px 0;
  }
  .wedo-services-block {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .wedo-safety__title, .wedo-move__title, .wedo-finances__title {
    font-family: 'Brown Light', sans-serif;
    font-size: 36px;
    color: #32325d;
  }
  .wedo-safety__description, .wedo-move__description, .wedo-finances__description {
    font-size: 19px;
    font-family: 'Brown Light', sans-serif;
    color: #525f7f;
  }
}

@media (max-width: 480px) {
  .wedo__link {
    display: block;
    margin-top: 30px;
  }
}

.feedback {
  background-color: #fafaff;
}

.feedback-wrap {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-heading {
  background: url("../img/feedback_icons.png") left 2px top 10px no-repeat;
}

.feedback-heading__title, .feedback-heading__description {
  font-family: 'Brown Light', sans-serif;
  color: #32325d;
}

.feedback-heading__title {
  font-size: 48px;
  margin-bottom: 30px;
}

.feedback-heading__description {
  font-size: 23px;
}

.feedback-form {
  max-width: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 550px;
          flex: 1 1 550px;
  position: relative;
}

.feedback-form__input {
  width: 100%;
  padding: 30px 50px 30px 40px;
  border: none;
  border-radius: 5px;
  color: #32325d;
  outline-color: #525f7f;
  font-family: 'Brown Light', sans-serif;
  font-size: 23px;
}

.feedback-form__input::-webkit-input-placeholder {
  font-size: 23px;
  font-family: 'Brown Light', sans-serif;
  color: #525f7f;
}

.feedback-form__input:-ms-input-placeholder {
  font-size: 23px;
  font-family: 'Brown Light', sans-serif;
  color: #525f7f;
}

.feedback-form__input::-ms-input-placeholder {
  font-size: 23px;
  font-family: 'Brown Light', sans-serif;
  color: #525f7f;
}

.feedback-form__input::placeholder {
  font-size: 23px;
  font-family: 'Brown Light', sans-serif;
  color: #525f7f;
}

.feedback-form__link {
  position: absolute;
  top: 35px;
  right: 50px;
  font-size: 15px;
  text-transform: uppercase;
  color: #845cff;
  font-family: 'Brown Bold', sans-serif;
  text-decoration: none;
}

.feedback-form__link::after {
  content: "";
  position: absolute;
  right: -25px;
  width: 20px;
  height: 17px;
  background: url("../img/submit.png") center center no-repeat;
}

@media (max-width: 480px) {
  .feedback-heading__title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .feedback-heading__description {
    font-size: 19px;
  }
  .feedback-form__link {
    visibility: hidden;
  }
  .feedback-form__link::after {
    visibility: visible;
  }
}

.navigation {
  padding: 130px 0 30px;
}

.navigation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-info {
  min-width: 170px;
}

.navigation-info__logo {
  margin-bottom: 50px;
}

.navigation-phone {
  margin-bottom: 10px;
}

.navigation-phone__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

.navigation-mail {
  margin: 35px 0;
}

.navigation-mail__link {
  font-size: 16px;
  font-family: 'Brown Regular', sans-serif;
}

.navigation-col1, .navigation-col2, .navigation-col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-col1__link, .navigation-col2__link, .navigation-col3__link {
  font-size: 16px;
}

.navigation-col1 {
  height: 320px;
}

.navigation-col2 {
  max-height: 260px;
}

.navigation-col2__link {
  font-family: 'Brown Regular', sans-serif;
}

.navigation-col3 {
  max-height: 210px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__link {
  color: #555377;
}

.social__link:hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 992px) {
  .navigation {
    padding: 50px 0;
  }
  .navigation-info {
    margin-right: 40px;
  }
  .navigation-col1, .navigation-col2, .navigation-col3 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 150px;
            flex: 1 1 150px;
    margin-left: 20px;
  }
}

@media (max-width: 640px) {
  .navigation-col1, .navigation-col2, .navigation-col3 {
    display: none;
  }
  .navigation-info {
    margin: 0 auto;
  }
}

.copyright-wrap {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__text {
  font-family: 'Brown Light', sans-serif;
  font-size: 16px;
  color: #525f7f;
}

.policy {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.policy__link {
  color: #525f7f;
}

.policy__link:hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 992px) {
  .copyright-wrap {
    height: 80px;
  }
}

@media (max-width: 640px) {
  .copyright-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */