.hero
  padding-top: 200px
  padding-bottom: 140px
  &-wrap
    max-width: 470px
  &__title
    font-size: 48px
    +bold
    color: $text-color
    margin-bottom: 50px
  &__description
    +light
    font-size: 23px
    color: $text-color-light
    margin-bottom: 50px
  &__button
    text-transform: uppercase
    margin-right: 30px
  &__link
    font-size: 19px
    color: $text-color

@media (max-width: 768px)
  .hero
    padding-top: 120px
    padding-bottom: 60px
    &__title
      font-size: 36px
    &__description
      font-size: 19px
    &__link
      display: block
      margin-top: 20px

