.navbar
  &-wrap
    display: flex
    align-items: center
    min-height: 140px
    justify-content: space-between
  &__logo
    margin-right: 30px
.menu
  width: 600px
  &__list
    display: flex
    list-style: none
    margin: 0
    padding: 0
    justify-content: space-between
    align-items: center
  &__link
    +bold
    font-size: 19px
    color: $text-color
